normal {
	unbind "Ctrl h" "Ctrl n" "Ctrl o" "Ctrl p" "Ctrl s"
	bind "Ctrl y" { SwitchToMode "Move"; }
	bind "Ctrl b" { SwitchToMode "Resize"; }
	bind "Ctrl q" { SwitchToMode "Session"; }
	bind "Ctrl f" { SwitchToMode "Pane"; }
	bind "Ctrl x" { SwitchToMode "Scroll"; }
}
scroll {
	bind "i" { SwitchToMode "Normal"; }
}
session {
	bind "Ctrl q" { "Detach"; }
	bind "x" { "Quit"; }
}
tab {
	unbind "Ctrl n"
}
